<nav>
  |
  <a href="mailto:me@gusguidry.com"
    >Email <img src="{{ site.baseurl }}/assets/icons/envelope.svg" alt="Email"
  /></a>
  |
  <a href="https://github.com/gusguidry" role="button"
    >Github <img src="{{ site.baseurl }}/assets/icons/github.svg" alt="Github"
  /></a>
  |
  <a href="https://instagram.com/gusguidry"
    >Instagram
    <img src="{{ site.baseurl }}/assets/icons/instagram.svg" alt="Instagram"
  /></a>
  |
  <a href="https://linkedin.com/in/gusguidry"
    >LinkedIn
    <img src="{{ site.baseurl }}/assets/icons/linkedin.svg" alt="LinkedIn"
  /></a>
  |
  <a href="https://twitter.com/gusguidry"
    >Twitter
    <img src="{{ site.baseurl }}/assets/icons/twitter.svg" alt="Twitter"
  /></a>
  |
  <a href="https://youtube.com/c/gusguidry"
    >Youtube
    <img src="{{ site.baseurl }}/assets/icons/youtube.svg" alt="Youtube"
  /></a>
  |
</nav>
