<nav>
  <a href="mailto:me@gusguidry.com">
    <img src="{{ site.baseurl }}/assets/images/envelope.svg" alt="Email"></a>
  <a href="{{ " /feed.xml" | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/assets/images/rss.svg"
      alt="RSS"></a>
  <a href="{{ site.baseurl }}/support/"><img src="{{ site.baseurl }}/assets/images/currency-exchange.svg"
      alt="Support"></a>
</nav>

<div style="text-align: center">
  <small> Site made with love by yours truly.
    </br>
    Copyright Ⓒ
    <script src="{{ site.baseurl }}/assets/js/currentyear.js"></script>
    August A. Guidry. All rights reserved.
    </br>
    </br>
    <script src="{{ site.baseurl }}/assets/js/quote.js"></script>
  </small>
</div>
<br>