<nav>
  <a href="mailto:me@gusguidry.com">
    <img src="{{ site.baseurl }}/assets/icons/envelope.svg" alt="Email" /></a>
  <a href="https://github.com/gusguidry" target="_blank">
    <img src="{{ site.baseurl }}/assets/icons/github.svg" alt="Github" /></a>
  <a href="https://instagram.com/gusguidry" target="_blank">
    <img src="{{ site.baseurl }}/assets/icons/instagram.svg" alt="Instagram" /></a>
  <a href="https://linkedin.com/in/gusguidry" target="_blank">
    <img src="{{ site.baseurl }}/assets/icons/linkedin.svg" alt="LinkedIn" /></a>
  <a href="{{ " /feed.xml" | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/assets/icons/rss.svg" alt="RSS"></a>
  <a href="https://twitter.com/gusguidry" target="_blank">
    <img src="{{ site.baseurl }}/assets/icons/twitter.svg" alt="Twitter" /></a>
  <a href="https://youtube.com/c/gusguidry" target="_blank">
    <img src="{{ site.baseurl }}/assets/icons/youtube.svg" alt="Youtube" /></a>
</nav>

<div style="text-align: center">
  <small> Site made with love by Gus Guidry.
    </br>
    Copyright Ⓒ
    <script src="{{ site.baseurl }}/assets/js/currentyear.js"></script>
    Gus Guidry. All rights reserved.
    </br>
    </br>
    <script src="{{ site.baseurl }}/assets/js/quote.js"></script>
  </small>
</div>