<div class="container border rounded text-center my-5 p-3">
    <h4>Links</h4>
    <p>Email is the best way to contact me. I seldom check DMs.</p>
    <a class=" btn btn-light m-1" href="mailto:me@gusguidry.com" role="button"><img src="icons/envelope.svg"
        alt="Email" /> Email</a>
    <a class="btn btn-light m-1" href="https://facebook.com/gusguidrycom" role="button"><img src="icons/facebook.svg"
        alt="Email" /> Facebook</a>
    <a class="btn btn-light m-1" href="https://github.com/gusguidry" role="button"><img src="icons/github.svg"
        alt="Email" /> Github</a>
    <a class="btn btn-light m-1" href="https://instagram.com/gusguidry" role="button"><img src="icons/instagram.svg"
        alt="Email" /> Instagram</a>
    <a class="btn btn-light m-1" href="https://linkedin.com/in/gusguidry" role="button"><img src="icons/linkedin.svg"
        alt="Email" /> LinkedIn</a>
    <a class="btn btn-light m-1" href="https://twitter.com/gusguidry" role="button"><img src="icons/twitter.svg"
        alt="Email" /> Twitter</a>
    <a class="btn btn-light m-1" href="https://youtube.com/c/gusguidry" role="button"><img src="icons/youtube.svg"
        alt="Email" /> YouTube</a>
  </div>