@charset "UTF-8";

@font-face {
  font-family: "Garamond";
  src: url("../assets/fonts/garamond.tff");
}

:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

code {
  font-family: 'courier new', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/*HTML Defaults*/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: Georgia, serif;
  font-variant-numeric: oldstyle-nums;
}

h1 {
  font-variant: small-caps;
}

body {
  margin: 0;
  font-size: var(--bs-body-font-size);
  -webkit-text-size-adjust: 100%;
}

nav {
  text-align: center;
}

p {
  width: clamp(0ch, 100%, 60ch);
  font-size: 1rem;
}

a:link {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.img {
  width: clamp(0ch, 100%, 60ch);
}

/*Container system*/
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 60ch;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 60ch;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 60ch;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 60ch;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 60ch;
  }
}
