---
layout: default
---
<div>
  <header>
    <h3>{{ page.title }}</h3>
    <div style="text-align: center;">
      {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author
      }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      {{page.image | relative_url}}
  </header>
  <article>{{ content }}
    <p>Peace,</p>
    <p>August "Gus" A. Guidry</p>
  </article>
</div>

<div style="text-align: center;"><a href="{{ " /feed.xml" | prepend: site.baseurl }}">Subscribe via RSS <img
      src="{{ site.baseurl }}/assets/images/rss.svg" alt="Favicon"></a>
  {% if page.previous.url %}
</div>
<div style="text-align: center;">
  <a href="{{page.previous.url}}">&laquo; Prev</a>
  {% endif %}
  {% if page.next.url %}
  <a href="{{page.next.url}}">Next &raquo;</a>
  {% endif %}
</div>